{% extends 'core/account/auth_shell.html' %}

{% block title %}Change your password | Qasida Library{% endblock %}
{% block heading %}Change your password{% endblock %}

{% block body %}
<form method="post" class="space-y-4 mt-6">
    {% csrf_token %}
    {% include 'core/_form.html' %}
    <div class="flex flex-wrap gap-2">
        <button type="submit" class="btn-primary">Change password</button>
        <a href="{% url 'account_settings' %}" class="btn-ghost">Cancel</a>
    </div>
</form>
{% endblock %}
